.heading {
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
}

.content {
    display: flex;
    margin-bottom: 50px;
}

.txtInformation {
    width: 300px;
}

.flag {
    width: 200px;
    height: auto;
    border: 1px solid black;
}