.container {
    width: 750px;
    padding: 30px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.info {
    width: 500px;
    border: 1px solid black;
    padding: 0 10px;
    font-size: 19px;
}

.scroll {
    width: 200px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px 10px;
    border: 1px solid black;
}

.scroll::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}